<div style="text-align:center">
  <h1 align="left">
    Welcome to {{ title }}!
  </h1>

  <form align="left" >

    <select (change)=onChange($event.target.value)>
      <option [value]="album.id" *ngFor="let album of albums"> {{album.title}}</option>
    </select> <br>

    titolo: <input #t> <br>
    durata : <input #l> <br>
    data pubblicazione: <input type = "date" #d> <br>

    <button (click)= "onClick(t,d,l)"> Prenota </button>

  </form>


  {{selectedRoom | json}}
<button (click)= "onClick(dettagli-album)"> Dettegli album </button>

 <ul>
   <li *ngFor="let song of songList" align="right">
    {{song.album.title}} : {{song | json}}
   </li>
 </ul>


 {{songList | json}}

